<div class="main">


  <div class="ima-1-container">
    <div class="img-1">
    </div>
  </div>

  <div class="title">
    <h1>Villa la Houle</h1>
    <h3>Cap Malheureux</h3>
    <p>Mauritius</p>
  </div>

  <div class="mini-gallery">
    <div class="img-mini-gallery"></div>
    <div class="img-mini-gallery"></div>
  </div>

  <div class="text-1">
    <p>Découvrez le charme de Villa La Houle, une maison de plage paisible nichée au bord de la mer, à quelques pas de la dynamique Grand Baie. <br>
    Avec ses trois chambres magnifiquement aménagées, ce havre côtier est parfait pour les familles ou les groupes en quête de détente et de tranquillité.
    </p>
  </div>

  <div class="mini-gallery">
    <div class="img-mini-gallery"></div>
    <div class="img-mini-gallery"></div>
  </div>

  <div class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?src=wacmayer%40gmail.com&ctz=Indian%2FMauritius" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>

</div>


<style>
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5rem 0;
  background-color: white  ;
}

.title {
  text-align: center;
}

.text-1 {
  text-align: center;
}

.img-1 {
  height: 100px;
  width: 100px;
  background-color: blue;
}

.img-mini-gallery {
  height: 100px;
  width: 100px;
  background-color: yellow;
  margin: 5px;
}

.mini-gallery {
  display: flex;
  flex-direction: row;
}

</style>
