
.navbar-lewagon {
  position: fixed; /* Makes the navbar stay at the top of the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Ensures the navbar spans the entire width */
  z-index: 10; /* Places the navbar above other content */
  background: transparent; /* Makes the navbar transparent */}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

// .navbar-background-color {
//   background-color: rgb(202, 194, 177
//   );
// }
